<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{{title}}}</title>
	<meta itemprop="name" content="{{{title}}}">
	<meta name="twitter:title" content="{{{title}}}">
	<meta property="og:title" content="{{{title}}}" />

	<meta name="description" content="{{{description}}}">
	<meta itemprop="description" content="{{{description}}}">
	<meta name="twitter:description" content="{{{description}}}">
	<meta property="og:description" content="{{{description}}}" />

	<meta itemprop="image" content="{{{image}}}">
	<meta name="twitter:image:src" content="{{{image}}}">
	<meta property="og:image" content="{{{image}}}" />

	<meta name="keywords" content="{{{keywords}}}">
	<base href="/">
	<link rel="icon" type="image/x-icon" href="/bohdanprodoliak/img/favicon.ico">
	<link rel="stylesheet" href="/bohdanprodoliak/css/index.css">
	<style>
	/* <!-- CSS --> */
	</style>
</head>
<body>
	<header class="header">
		<div class="container">
			<a href="" class="header_logo">
				<img src="/bohdanprodoliak/img/logo.svg" alt="" />
			</a>
			<div class="burger-wrap">
				<div class="burger"></div>
			</div>
			<div class="header_links">
				<div class="header_links-item">
					<a href="">
						<img src="/bohdanprodoliak/img/call.svg" alt="" />
					</a>
				</div>
				<div class="header_links-item">
					<a href="">
						<img src="/bohdanprodoliak/img/cart.svg" alt="" />
					</a>
				</div>
			</div>
		</div>
	</header>
	<section style="min-height: 300px">
		<!-- HTML -->
	</section>
	<footer class="footer">
		<div class="container">
			<div class="footer_wrap">
				<div class="footer_logo">
					<a href="">
						<img src="/bohdanprodoliak/img/black.svg" alt="" />
					</a>
					<button class="footer_logo-btn">Увійти</button>
				</div>
				<div class="footer_links">
					<!-- <div class="footer_links-item">
						<div class="footer_links-title">Title of links</div>
						<a href="" class="footer_links-link"> Про нас </a>
						<a href="" class="footer_links-link"> Про нас </a>
						<a href="" class="footer_links-link"> Про нас </a>
					</div>
					<div class="footer_links-item">
						<div class="footer_links-title">Title of links</div>
						<a href="" class="footer_links-link"> Про нас </a>
						<a href="" class="footer_links-link"> Про нас </a>
						<a href="" class="footer_links-link"> Про нас </a>
					</div>
					<div class="footer_links-item">
						<div class="footer_links-title">Title of links</div>
						<a href="" class="footer_links-link"> Про нас </a>
						<a href="" class="footer_links-link"> Про нас </a>
						<a href="" class="footer_links-link"> Про нас </a>
					</div> -->
					{% if variables.tel || variables.workingHours %}
					<div class="footer_links-item">
						{% if variables.tel %}
						<a href="tel:{{{variables.tel}}}">
							<img src="/bohdanprodoliak/img/callb.svg" alt="" />
							<span>{{{variables.tel}}}</span>
						</a>
						{% endif %}
						{% if variables.workingHours %}
						<a href="">
							<img src="/bohdanprodoliak/img/clock.svg" alt="" />
							<span>{{{variables.workingHours}}}</span>
						</a>
						{% endif %}
					</div>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="footer_cop">(C) Create by Bogdan Prodolyak</div>
	</footer>

	<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="/bohdanprodoliak/js/index.js"></script>
	<script>
	// <!-- JS -->
	</script>
</body>
</html>
