<div class="main">
	<div class="container">
		<div class="main_page">Головна - <span>Меню кав*ярні</span></div>
		<div class="main_title">Меню</div>
		<div class="main_wrap">
			<div class="main_sidebar-burger">Меню -</div>
			<div class="main_sidebar">
				<div class="main_sidebar-content">
					{% for tag in tags %}
					<div class="main_sidebar-item">
						<a href="products/#{{{tag.id}}}" class="main_sidebar-title"> {{{tag.name}}} </a>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="main_center">
				<div class="main_center-wrap">
					<div class="menu-list">
						{% for tag in tags %}
						<div class="menu_category" id="{{{tag.id}}}">{{{tag.name}}}</div>
						{% for product in tag.products %}
						<div class="menu-list_item">
							<div class="menu-list_item-text">
								<div class="menu-list_title">{{{product.name}}}</div>
								<div class="menu-list_desc">{{{product.description}}}</div>
								<div class="menu-list_price">{{{product.price}}}</div>
							</div>
							<div class="menu-list_item-img">
								<img src="{{{product.thumb}}}" alt="">
							</div>
						</div>
						{% endfor %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
