
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
	padding: 0;
	margin: 0;
	font-family: "Montserrat", sans-serif;
	height: 100%;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	color: rgb(29, 27, 27);
}

html {
	height: 100%;
}

.container{
	max-width: 1230px;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
// Colors

/*  burger  */
.burger-wrap {
    display: none;
    width: 36px;
    height: 27px;
    position: relative;
}
.main_sidebar-burger{
	display: none;
	width: 120px;
	font-size: 22px;
	border-radius: 120px;
	height: 44px;
	justify-content: center;
	align-items: center;
	border: 2px solid #48312B;
	color: #48312B;
	font-weight: 600;
}
.burger {
    height: 5px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    transition: all .3s;
	border-radius: 5px;
}

.burger::before,
.burger::after {
    content: '';
    width: 100%;
    height: 5px;
    display: block;
    background-color: rgb(255, 255, 255);
    transition: all .3s;
    position: absolute;
    left: 0;
	border-radius: 5px;
}

.burger::before {
    top: 0;
}

.burger:after {
    bottom: 0;
}

/* burger */

$blue: #007eff;
$dark: #1c1c1c;
$white: #ffffff;

.header{
	background: #48312B;
	color: #fff;
	min-height: 100px;
    position: relative;
	&_wrap{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 20px;
	}
	&_left{
		display: flex;
		li{
			margin-right: 15px;
			a{
				color: #fff;
				transition: all .3s;
				width: fit-content;
				display: block;
				position: relative;
			&::before{
				content: '';
				position: absolute;
				width: 0;
				height: 2px;
				bottom: -2px;
				background-color: #fff;
				transition: all .3s;
			}
			}
			&:last-child{
				margin: 0;
			}
		}

	}
	&_right{
		display: flex;
		li{
			margin-right: 15px;
			a{
				color: #fff;
				transition: all .3s;
				width: fit-content;
				display: block;
				position: relative;
			&::before{
				content: '';
				position: absolute;
				width: 0;
				height: 2px;
				bottom: -2px;
				background-color: #fff;
				transition: all .3s;
			}
			}
			&:last-child{
				margin: 0;
			}
		}

	}
	&_logo{
		position: absolute;
		left: 50%;
		transform: translate(-50%,-50%);
		top: 50%;
		img{
			max-width: 60px;
		}
	}
	&_links{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 15px;
		&-item{
			img{
				max-width: 35px;
			}
			transition: all .3s;
			&:hover{
				transform: scale(1.1);
			}
		}
	}
}
.main{
	&_page{
		text-align: center;
		padding: 25px 0;
		font-size: 16px;
		span{
			color: #423e3e;
		}
	}
	&_title{
		text-align: center;
		font-size: 30px;
		padding: 15px 0;
		color: #48312b;
		font-weight: 600;
		font-style: italic;
	}
	&_wrap{
		display: flex;
		flex-flow: row wrap;
		position: relative;
	}
	&_sidebar{
		flex: 0 0 30%;
		max-width: 30%;
		padding-right: 50px;
		&-title{
			color: #48312b;
			font-size: 24px;
			margin-bottom: 15px;
			font-weight: 600;
			font-style: italic;
			display: block;
			position: relative;
			transition: all .3s;
			width: fit-content;
			&::before{
				content: '';
				position: absolute;
				width: 0;
				height: 2px;
				bottom: -2px;
				background: #48312b;
				transition: all .3s;
			}
		}
		&-positions{
			padding-left: 10px;
			font-size: 18px;
			li{
				padding-bottom: 5px;
				a{
					color: $black;
				}
			}
		}
		&-item{
			margin-bottom: 20px;
			border-bottom: 1px solid rgba(0, 0, 0, 0.315);
		}
	}
	&_center{
		flex: 0 0 70%;
		max-width: 70%;
		height: 500px;
		overflow-x: hidden;
		padding: 20px;
	}
}
.menu{
	&_category{
		font-weight: 600;
		font-style: italic;
		font-size: 24px;
		color: #48312b;
		padding-bottom: 20px;
	}
	&-list{
		&_item{
			box-shadow: 1px 1px 7px 0px rgba(0,0,0,.342);
			border-radius: 12px;
			padding: 25px;
			margin-bottom: 15px;
			cursor: pointer;
			transition: all .3s;
			&:hover{
				background: #f7f7f7;
			}
		}
		&_title{
			font-size: 18px;
			font-style: italic;
			font-weight: 600;
			padding-bottom: 10px;
		}
		&_desc{
			color: #0000009e;
			padding-bottom: 10px;
		}
		&_price{
			color: #48312b;
			font-weight: 600;
			font-size: 20px;
		}
	}
}

.footer{
	padding-top: 20px;
	&_wrap{
		display: flex;
		flex-flow: row wrap;
	}
	&_logo{
		display: flex;
		flex-flow: column wrap;
		flex: 0 0 25%;
		max-width: 25%;
		a{
			img{
				max-width: 80px;
			}
		}
		button{
			width: 100px;
			height: 45px;
			background: transparent;
			border: 1px solid #48312B;
			border-radius: 120px;
			margin-top: 20px;
		}
	}
	&_links{
		display: flex;
		flex-flow: row wrap;
		flex: 0 0 75%;
		max-width: 75%;
		&-item{
			flex: 0 0 25%;
			max-width: 25%;
			display: flex;
			flex-flow: column wrap;
			&:last-child{
				display: flex;
				flex-flow: row wrap;
				a{
					display: flex;
					transition: all .3s;
					align-items: center;
					margin: 0;
					&:hover{
						transform: scale(1.1);
					}
				}
			}
			a{
				img{
					max-width: 40px
				}
				span{
					margin-left: 15px;
					display: block;
					color: #48312B;
				}
			}
		}
		&-title{
			font-size: 20px;
			font-weight: 600;
			font-style: italic;
			color: #48312b;
			padding-bottom: 10px;
		}
		&-link{
			font-size: 18px;
			text-transform: underline;
			margin-bottom: 5px;
			color: $dark;
		}
	}
	&_cop{
		text-align: center;
		border-top: 1px solid black;
		margin-top: 10px;
		padding: 10px 0;
	}
}

.main_sidebar-title:hover::before{
	width: 100%;
}
.header_left li a:hover::before{
	width: 100%;
}
.header_right li a:hover::before{
	width: 100%;
}

@media screen and (max-width: 1024px) {
	.menu-navigation {
		position: relative;
		display: block;
		max-height: unset;
		width: unset;
		opacity: 1;
		border: none;
		margin: unset;
	}

	.burger-wrap {
		display: flex;
		align-items: center;
		position: absolute;
		z-index: 3;
		right: 20px;
		transform: translateY(-50%);
		top: 50%;
	}

	.burger--close {
		max-width: 0;
		overflow: hidden;
	}

	.burger--close::before {
		transform: translateY(-1px) rotate(45deg);
	}

	.burger--close::after {
		transform: translateY(3px) rotate(-45deg);
	}

	.burger--close::after,
	.burger--close::before {
		transform-origin: 0;
	}

	.header_wrap {
		position: absolute;
		top: 70px;
		width: 100%;
		left: 0;
		background: #48312b;
		z-index: 3;
		padding: 0;
		opacity: 0;
		display: flex;
		max-height: 0;
		overflow: hidden;
		transition: all .3s;
		margin: 0 auto;
		align-items: center;
		flex-flow: column wrap;
		justify-content: center;
	}

	.header_wrap {
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
		z-index: 9;
	}

	.header_wrap li {
		display: block;
		margin-right: 0;
		padding-right: 0;
		font-size: 20px;
	}

	.header_wrap li a {
		display: block;
		padding: 10px 0;
		border: none;
		text-align: center;
		color: block;
	}

	.header_wrap--open {
		max-height: 500px;
		opacity: 1;
		padding: 15px 0;
	}
	.header_links{
		justify-content: unset;
		a{
			&:first-child{
				margin-right: 15px;
			}
		}
	}
	.header_logo img {
		max-width: 40px;
	}
	.header {
		min-height: 70px;
	}
	.header_left{
		display: block;
		text-align: center;
		margin: 0;
		a{
			margin: 0 auto;
		}
	}
	.header_right{
		display: block;
		text-align: center;
		margin: 0;
		a{
			margin: 0 auto;
		}
	}
	.main_center {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.main_sidebar-burger{
		display: flex;
		margin: 0 auto;
		z-index: 4;
		margin-top: 10px;
		&--open{
			background: #48312B;
			color: #fff;
		}
	}
	.main_sidebar {
		flex: 0 0 100%;
		max-width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		height: 0;
		border-radius: 12px;
		border: 1px solid #48312B;
		background: #e3dfdf;
		opacity: 0;
		transition: all .3s;
		padding: 10px;
		&--open{
			opacity: 1;
			height: fit-content;
			z-index: 3;
			width: 100%;
		}
	}
	.footer_wrap {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
	}
	.footer_logo{
		margin-bottom: 20px;
		a{
			text-align: center;
		}
	}
	.footer_links{
		flex: 0 0 100%;
		max-width: 100%;
		text-align: center;
		flex-flow: column wrap;
	}
	.footer_links-item{
		flex: 0 0 100%;
		max-width: 100%;
		text-align: center;
		margin-bottom: 10px;
	}
	.footer_links-item:last-child {
		flex-flow: column wrap;
		a{
			margin: 0 0 10px 0;
		}
	}
}
.main{
	&_page{
		text-align: center;
		padding: 25px 0;
		font-size: 16px;
		span{
			color: #423e3e;
		}
	}
	&_title{
		text-align: center;
		font-size: 30px;
		padding: 15px 0;
		color: #48312b;
		font-weight: 600;
		font-style: italic;
	}
	&_wrap{
		display: flex;
		flex-flow: row wrap;
	}
	&_sidebar{
		flex: 0 0 30%;
		max-width: 30%;
		padding-right: 50px;
		&-title{
			color: #48312b;
			font-size: 24px;
			padding-bottom: 15px;
			font-weight: 600;
			font-style: italic;
		}
		&-positions{
			padding-left: 10px;
			font-size: 18px;
			li{
				padding-bottom: 5px;
			}
		}
		&-item{
			margin-bottom: 20px;
			border-bottom: 1px solid rgba(0, 0, 0, 0.315);
		}
	}
	&_center{
		flex: 0 0 70%;
		max-width: 70%;
	}
}
.menu{
	&_category{
		font-weight: 600;
		font-style: italic;
		font-size: 24px;
		color: #48312b;
		padding-bottom: 20px;
	}
	&-list{
		&_item{
			box-shadow: 1px 1px 7px 0px rgba(0,0,0,.342);
			border-radius: 12px;
			padding: 25px;
			margin-bottom: 15px;
		}
		&_title{
			font-size: 18px;
			font-style: italic;
			font-weight: 600;
			padding-bottom: 10px;
		}
		&_desc{
			color: #0000009e;
			padding-bottom: 10px;
		}
		&_price{
			color: #48312b;
			font-weight: 600;
			font-size: 20px;
		}
	}
}

.footer{
	padding-top: 20px;
	&_wrap{
		display: flex;
		flex-flow: row wrap;
	}
	&_logo{
		display: flex;
		flex-flow: column wrap;
		flex: 0 0 25%;
		max-width: 25%;
		a{
			img{
				max-width: 80px;
			}
		}
		button{
			width: 100px;
			height: 45px;
			background: transparent;
			border: 1px solid #48312B;
			border-radius: 120px;
			margin-top: 20px;
		}
	}
	&_links{
		display: flex;
		flex-flow: row wrap;
		flex: 0 0 75%;
		max-width: 75%;
		&-item{
			flex: 0 0 33.333%;
			max-width: 33.333%;
			display: flex;
			flex-flow: column wrap;
		}
		&-title{
			font-size: 20px;
			font-weight: 600;
			font-style: italic;
			color: #48312b;
			padding-bottom: 10px;
		}
		&-link{
			font-size: 18px;
			text-transform: underline;
			margin-bottom: 5px;
		}
	}
	&_cop{
		text-align: center;
		border-top: 1px solid black;
		margin-top: 10px;
		padding: 10px 0;
	}
}
